*;
html {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #E6F5F8;
	font-family: 'David Libre', serif;
	font-size: 14px;
}

h2{
	color: #8899A6;
	font-size: 1.4em;
	margin-bottom: 20px;
}

textarea, .cajatweet, .estilodeboton{
	border-radius: 4px;
}

.estilodeboton {
	background-color: #2EABC6;
	border: 1px solid ;
	color:#FFFFFF;
	cursor: pointer;
	display: inline-block;
	padding: 8px 20px;
	font-family: 'Patua One', cursive;
}

.cajatweet {
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.2) 0 0px 5px;
	margin: 50px auto;
	padding: 20px 30px;
	width: 380px;
    height: 180px;
}

.error {
	color: #b94a48;
	box-sizing: border-box;
	background-color: #f2dede;
	margin-bottom: 0px;
	padding: 8px;
	text-align: center;
	width: 100%;
}