body {
	background-image: url(../img/paas.jpg);
	background-size: cover;
}

.textarea {
	margin-top: 5%;
    margin-left: 35%; 
}

.publicaciones {
	color: #FE2E64;
	font-style: Arial;
	margin-left: 35%;
}

.contenedor {
	background-color: #81F7BE;
	color: #6E6E6E;
	font-family: 'Baloo Bhaina', cursive;
    margin-left: 35%; 
}